*/__pycache__/*

lua/core/plugin/film/DBs
lua/core/plugin/film/cache

lua/core/plugin/email/cache

lua/core/plugin/translator/_input.txt
lua/core/plugin/translator/results.json

lua/core/plugin/API_AI/*.json
lua/core/plugin/API_AI/*.txt

tasks.txt
notes.txt
providers

lua/core/plugin/telescope/docs/scacchi/webDocument/pdfs

*.ps1
