snippet service
    New-Service 
        -Name "name" 
        -BinaryPathName "pathtofile exe" 
        -DisplayName "name" 
        -Description "Esempio servizio che esegue uno script PS" 
        -StartupType Manual
